@page "/check"
@using Blazored.LocalStorage
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation
@inject User User
@inject IDialogService DialogService
@inject IJSRuntime IJS
@inject ILocalStorageService localStorage
<FluentToolbar id="toolbar-fluent-components">
    @if (!User.IsManager)
    {
        <FluentButton Appearance="Appearance.Accent" OnClick="@(OpenCreateDialogAsync)" >Add new check</FluentButton>
        <FluentTextField @bind-Value="CheckSearchTerm" Placeholder="Search by Id" Disabled="@WithProductsFromAllCategories"></FluentTextField>
    }
    @if (User.IsManager)
    {
        <FluentSelect Items=@employeeOptionsSort
                      TOption="Option<string?>"
                      Label="Select an employee"
                      Width="300px"
                      OptionText="@(i => i.Text.ToString())"
                      OptionValue="@(i => i.Value.ToString())"
                      @bind-SelectedOption="@selectedEmployeeOption"
                      ValueChanged="@OnSelectedEmployeeChanged"
                      Disabled="@WithProductsFromAllCategories"/>
    }
    <FluentDivider Style="height: 30px;" Role="DividerRole.Separator" Orientation="Orientation.Vertical"></FluentDivider>
    <span>Select dates</span>
    <FluentDatePicker @bind-Value="@DateFromValue" Disabled="@WithProductsFromAllCategories"/>
    <FluentDatePicker @bind-Value="@DateToValue" Disabled="@WithProductsFromAllCategories"/>
    <FluentButton Icon="CalendarToday" OnClick="@(SetTodayDate)" Disabled="@WithProductsFromAllCategories">Today</FluentButton>
    <FluentButton Icon="CalendarToday" OnClick="@(ResetDate)" Disabled="@WithProductsFromAllCategories">Reset Date</FluentButton>
    <FluentCheckbox @bind-Value="@WithProductsFromAllCategories">With products from all categories</FluentCheckbox>
    <FluentButton IconEnd="@(new Icons.Regular.Size16.Print())" OnClick="@PrintTable"/>

</FluentToolbar>
<FluentDataGrid Items="@_items" ResizableColumns="true" ItemSize="54" Pagination="@_pagination" GridTemplateColumns="1fr 1fr 1fr 1fr 1fr 1fr 1fr"
                Style="height: 600px; width: 1500px; overflow:auto;">
    <PropertyColumn Property="@(c => c.IdCheck)"/>
    <PropertyColumn Title="IdEmployee" Property="@(c => _employees[c.IdEmployee])"/>
    <PropertyColumn Title="IdCustomerCard" Property="@(c => c.IdCardCustomer.HasValue ? _customerCards[c.IdCardCustomer.Value] : string.Empty)"/>
    <PropertyColumn Property="@(c => c.PrintDate)"/>
    <PropertyColumn Property="@(c => c.SumTotal)"/>
    <PropertyColumn Property="@(c => c.Vat)"/>
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton IconEnd="@(new Icons.Regular.Size16.Open())" OnClick="@(() => OpenCheckAsync(context))"/>
        @if (User.IsManager)
        {
            <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => OpenDeleteDialogAsync(context))"/>
        }
    </TemplateColumn>

</FluentDataGrid>
<FluentPaginator State="@_pagination">
    <SummaryTemplate>
        There are <strong>@(_pagination.TotalItemCount ?? 0)</strong> rows
    </SummaryTemplate>
    <PaginationTextTemplate>
        This is page <strong>@(_pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(_pagination.LastPageIndex + 1)</strong> pages
    </PaginationTextTemplate>
</FluentPaginator>
@if (selectedEmployeeOption != null)
{
    <div style="font-size: larger;  font-weight: bold; display: flex; justify-content: center;">
        Total for @selectedEmployeeOption.Text is @TotalSum
    </div>
}